<h3>Find me on app/views/cases/index.html.erb</h3>

<div class="case-table-title">
  <p>Case List for <%= @client.last_name %>, <%= @client.first_name %></p>
</div>
<div class="case-table mt-3">
  <table>
    <thead>
      <tr>
        <th>Court</th>
        <th>Court Number</th>
      </tr>
    </thead>
    <tbody>
      <% @cases.each do |individual_case| %>
        <tr>
          <td><%= individual_case.court%></td>
          <td><%= individual_case.court_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="button-r mt-3">
  <%= link_to 'Back', clients_path %>
</div>

<div class="button-b mt-5">
  <%= link_to "Create new case", new_client_case_path %>
</div>
