<h3>Find me on app/views/cases/show.html.erb</h3>

<div class="mt-5">
  <p style="font-weight: bold">Collections</p>

  <%= select_tag "selected_collection", options_from_collection_for_select(@collections, 'id', 'description'), prompt: 'Select a collection', data: { controller: 'collection', action: 'change->collection#updateTable', client_id: @client.id, case_id: @case.id, collection_target: 'selection'} %>

  <div class="collection-table mt-3">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount <i class="fa-solid fa-turkish-lira-sign fa-xs"></th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= collection.date.strftime('%b %d, %Y') if collection.date %></td>
            <td><%= collection.amount %></td>
            <td><%= collection.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<p><%= link_to "Create Collection", new_client_case_collection_path(case_id: @case.id)  %></p>
<p><%= link_to "Back to Client", client_path(@case.client) %></p>


<div class="collection-title" data-collection-target="collectionTitle" >
  <p></p>
</div>

<div class="collection-calculation-table" data-collection-target="collectionTable" data-controller="collection" data-client-id="<%= @client.id %>" data-case-id="<%= @case.id %>">
  <table>
    <thead>
      <tr>
        <th>Transaction Party</th>
        <th>Notes</th>
        <th>Ratio</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% if @selected_collection.present? %>
        <% @selected_collection.each do |collection| %>
          <tr>
            <td>
              <%= select_tag "transaction_party_#{index}_1", options_for_select(['Select','Lawyer', 'Client','Enforcement Office']), prompt: 'Select transaction party' %>
            </td>
            <td>
              <%= text_area_tag "notes_#{index}_1", nil, placeholder: 'Enter notes here' %>
            </td>
            <td>
              <%= select_tag "ratio_#{index}_1", options_for_select(['9,1%', '4,55%', '2,7%', 'none']), prompt: 'Select Ratio', data: { action: 'change->collection#calculateAmount', collection_target: "ratio", index: index, row: 'first'} %>
            </td>
            <td >
              <%= text_field_tag "amount_#{index}_1", collection.calculation_amount('none'), readonly: true, data: { collection_target: "amount", index: index, row: 'first'} %>
            </td>
            <td>
              <%= date_field_tag "date_#{index}_1", nil, placeholder: 'Select Date' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= select_tag "transaction_party_#{index}_2", options_for_select(['Lawyer', 'Client','Enforcement Office']), prompt: 'Select transaction party' %>
            </td>
            <td>
              <%= text_area_tag "notes_#{index}_2", nil, placeholder: 'Enter notes here' %>
            </td>
            <td>
              <%= select_tag "ratio_#{index}_2", options_for_select(['9,1%', '4,55%', '2,7%', 'none']), prompt: 'Select Ratio',  data: { action: 'change->collection#calculateAmount', collection_target: "ratio", index: index, row: 'second'}%>
            </td>
            <td >
              <%= text_field_tag "amount_#{index}_2", collection.calculation_amount('none'), readonly: true, data: { collection_target: "amount", index: index, row:'second'} %>
            </td>
            <td>
              <%= date_field_tag "date_#{index}_2", nil, placeholder: 'Select Date' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <button type="button" data-action="click->collection#sumAmounts">Calculate Total</button>
</div>
<div>Total Amount: <span id="totalAmount"></span></div>
