<h3>Find me on app/views/cases/show.html.erb</h3>

<div class="mt-5">
  <p style="font-weight: bold">Collections</p>

  <%= select_tag "selected_collection", options_from_collection_for_select(@collections, 'id', 'description'), prompt: 'Select a collection', data: { controller: 'collection', action: 'change->collection#updateTable', client_id: @client.id, case_id: @case.id, collection_target: 'selection'} %>

  <div class="collection-table mt-3">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount <i class="fa-solid fa-turkish-lira-sign fa-xs"></th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= collection.date.strftime('%b %d, %Y') if collection.date %></td>
            <td><%= collection.amount %></td>
            <td><%= collection.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<p><%= link_to "Create Collection", new_client_case_collection_path(case_id: @case.id)  %></p>
<p><%= link_to "Back to Client", client_path(@case.client) %></p>


<div class="collection-title" data-collection-target="collectionTitle" >
  <p></p>
</div>

<div class="collection-calculation-table" data-collection-target="collectionTable" data-controller="collection" data-client-id="<%= @client.id %>" data-case-id="<%= @case.id %>">
  <table>
    <thead>
      <tr>
        <th>Transaction Party</th>
        <th>Details</th>
        <th>Ratio</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>


<div class="mt-3">Total Amount: <span id="totalAmount"></span></div>

<button id="printButton">Print Table</button>
