<h3>Find me on app/views/cases/show.html.erb</h3>

<h1>Case Details</h1>
<p><strong>Court:</strong> <%= @case.court %></p>
<p><strong>Court Number:</strong> <%= @case.court_number %></p>
<p><strong>Client:</strong> <%= @case.client.last_name %></p>

<div class="mt-5">
  <p style="font-weight: bold; margin-left:25px">Collections</p>

  <div class="d-menu">
    <%= select_tag "selected_collection", options_from_collection_for_select(@collections, 'id', 'description'), prompt: 'Select a collection', data: { controller: 'collection', action: 'change->collection#updateTable', client_id: @client.id, case_id: @case.id, collection_target: 'selection'} %>
  </div>
  <div class="collection-table mt-3">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount <i class="fa-solid fa-turkish-lira-sign fa-xs"></th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= collection.date.strftime('%b %d, %Y') if collection.date %></td>
            <td><%= collection.amount %></td>
            <td><%= collection.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="button-b mt-3">
  <%= link_to "Create Collection", new_client_case_collection_path(case_id: @case.id)  %>
</div>

<div class="button-r mt-3">
  <%= link_to "Back to Client", client_path(@case.client) %>
</div>

<div class="collection-title" data-collection-target="collectionTitle" >
  <p></p>
</div>

<div class="collection-calculation-table" data-collection-target="collectionTable" data-controller="collection" data-client-id="<%= @client.id %>" data-case-id="<%= @case.id %>">
  <table>
    <thead>
      <tr>
        <th>Transaction Party</th>
        <th>Details</th>
        <th>Ratio</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>


<div class="expense-detail mt-3">Expenses: <span id="totalAmount"></span></div>
<div class="expense-detail mt-3">Amount to be sent to the client: <span id="amountToBeSentToClient"></span></div>


<button id="printButton">Print Table</button>

<div>
  <h3>Expenses Related to case</h3>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @case.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
          <td><%= transaction.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
