<h3>Find me on app/views/cases/show.html.erb</h3>

<div class="mt-5">
  <p style="font-weight: bold">Collections</p>
  <div class="collection-table mt-3">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount <i class="fa-solid fa-turkish-lira-sign fa-xs"></th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= collection.date.strftime('%b %d, %Y') if collection.date %></td>
            <td><%= collection.amount %></td>
            <td><%= collection.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<p><%= link_to "Create Collection", new_client_case_collection_path(case_id: @case.id)  %></p>
<p><%= link_to "Back to Client", client_path(@case.client) %></p>
