<div class="form-transaction" data-controller="transaction-form" data-action="change->transaction-form#transactionTypeChanged">
  <%= form_with(model: [@client, @transaction], remote: true) do |form| %>
    <div class="field mt-3">
      <%= form.label :amount %>
      <%= form.text_field :amount %>
    </div>

    <div class="field mt-3">
      <%= form.label :transaction_type %>
      <%= form.select :transaction_type, Transaction.transaction_types.keys, prompt: "Select Transaction Type", id: 'transaction_transaction_type', data: { target: 'transaction-form.transactionType',  action: 'change->transaction-form#transactionTypeChanged'}%>
    </div>

    <div class="field mt-3" data-target="transaction-form.caseOptions" data-action="change->transaction-form#caseOptionsChanged">
      <%= render 'shared/case_options', form: form %>
    </div>

    <div class="field mt-3">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field mt-3">
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <div class="field mt-3" id="court_field"  data-target="transaction-form.courtField">
      <%= form.label :court %>
      <%= form.text_field :court %>
    </div>

    <div class="field mt-3" id="court_number_field" data-target="transaction-form.courtNumberField">
      <%= form.label :court_number %>
      <%= form.text_field :court_number %>
    </div>

    <div class="submit-button mt-3">
      <%= form.submit 'Submit' %>
    </div>
  <% end %>
</div>
