<%= form_with(model: [@client, @transaction], local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, Transaction.transaction_types.keys, prompt: "Select Transaction Type" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field" id="court_field" style="display: none;">
    <%= form.label :court %>
    <%= form.text_field :court %>
  </div>

  <div class="field" id="court_number_field" style="display: none;">
    <%= form.label :court_number %>
    <%= form.text_field :court_number %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>



<script>
  const transactionTypeSelect = document.getElementById('transaction_transaction_type');
  const courtField = document.getElementById('court_field');
  const courtNumberField = document.getElementById('court_number_field');

  transactionTypeSelect.addEventListener('change', function() {
    const selectedValue = transactionTypeSelect.value;
    if (selectedValue === 'expense') {
      courtField.style.display = 'block';
      courtNumberField.style.display = 'block';
    } else {
      courtField.style.display = 'none';
      courtNumberField.style.display = 'none';
    }
  });
</script>
