<div class="form-transaction" data-controller="transaction-form">
  <%= form_with(model: [@client, @transaction], remote: true, data: { action: 'ajax:success->transaction-form#updateFields' }) do |form| %>
    <div class="field mt-3">
      <%= form.label :amount %>
      <%= form.text_field :amount %>
    </div>

    <div class="field mt-3">
      <%= form.label :transaction_type %>
      <%= form.select :transaction_type, Transaction.transaction_types.keys, prompt: "Select Transaction Type", id: 'transaction_transaction_type', data: { target: 'transaction-form.transactionType' }%>
    </div>

    <div class="field mt-3" id="case_info_field" style="display: none;">
      <%= form.label :case_info %>

      <% cases_options = @client.cases.map { |c| [c.court, c.id] } %>
      <% cases_options << ['New Case', 'new_case'] %>

      <%= form.collection_select :case_id, cases_options, :last, :first, { prompt: 'Select case info' } %>
    </div>

    <div class="field mt-3">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field mt-3">
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <div class="field mt-3" id="court_field" style="display: none;">
      <%= form.label :court %>
      <%= form.text_field :court %>
    </div>

    <div class="field mt-3" id="court_number_field" style="display: none;">
      <%= form.label :court_number %>
      <%= form.text_field :court_number %>
    </div>

    <div class="submit-button mt-3">
      <%= form.submit 'Submit' %>
    </div>
  <% end %>
</div>
