<div class="card-container">
  <p>Number of Clients:</p>
  <div class="card-info">
    <p>#<%= @clients.count %></p>
  </div>
</div>

<div class="search-container mb-5">
  <%= form_with url: clients_path, method: :get, class:"d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a client..."
    %>
    <%= submit_tag "Search", class:"btn-s" %>
  <% end %>
</div>

<div class="list">
  <h4>Clients List</h4>
  <ol>
    <% @clients.each do |client| %>
      <li class="list-item">
        <p><%= link_to client.last_name, client%>, <%= link_to client.first_name, client %></p>
      </li>
    <% end %>
  </ol>
</div>
<div class="button-b">
  <%= link_to "Create new client", new_client_path %>
</div>
