<div class="card-container">
  <p>Number of Clients:</p>
  <div class="card-info">
    <p>#<%= @clients.count %></p>
  </div>
</div>

<div class="search-container mb-5">
  <%= form_with url: clients_path, method: :get, class:"d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a client..."
    %>
    <%= submit_tag "Search", class:"btn-s" %>
  <% end %>
</div>
<div class="index-table">
  <table>
    <thead>
      <tr>
        <th>Client Name</th>
        <th>Advance Payment</th>
        <th>Expenses</th>
        <th>Detail <i class="fa-solid fa-magnifying-glass"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.sort_by { |client| [client.last_name, client.first_name] }.each_with_index do |client, index| %>
        <tr class="<%= index.odd? ? 'odd-row' : 'even-row' %>">
          <td><%= client.last_name %>, <%= client.first_name %></td>
          <td><%= client.transactions.where(transaction_type: 'payment').sum(:amount) %></td>
          <td><%= client.transactions.where(transaction_type: 'expense').sum(:amount) %></td>
          <td>
            <%= link_to "Review", client %>
            <%= link_to "", client_cases_path(client), class:"fa-regular fa-folder-open" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<div class="button-b mt-5">
  <%= link_to "Create new client", new_client_path %>
</div>
