<h3>Edit Transaction </h3>
<%= form_with(model: [@client, @transaction], url: client_transaction_path, method: :patch, local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, Transaction.transaction_types.keys, prompt: "Select Transaction Type" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
